# Ambiente virtual
venv/
.env
*.env

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build / distribuição
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# VSCode / IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Node (caso seu HTML/JS use npm)
node_modules/

/generated/prisma
